doctype html
html( lang="en" )
  head
    meta( charset="UTF-8" )
    title Media Recorder Polyfill
    meta( content="width=device-width" name="viewport" )
    meta( name="theme-color" content="#00e5d2" )
    if process.env.NODE_ENV === 'development'
      link( rel="preload" href="./polyfill.js" )
    script.
      if (!window.MediaRecorder || /^\?polyfill/.test(location.search)) {
        document.write(decodeURI('%3Cscript src="./polyfill.js">%3C/script>'))
      }
    style.
      * {
        padding: 0;
        margin: 0;
      }
      a {
        color: #009387;
      }
      a:visited {
        color: #930087;
      }
      body {
        margin: 1rem;
        font-family: sans-serif;
      }
      main {
        max-width: 28rem;
        margin: 0 auto;
        position: relative;
      }
      #controls {
        display: flex;
        margin-top: 2rem;
      }
      button {
        flex-grow: 1;
        height: 2.5rem;
        min-width: 2rem;
        border: none;
        border-radius: 0.15rem;
        background: #00e5d2;
        margin-left: 2px;
        box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      button:hover, button:focus {
        outline: none;
        background: #00ffe9;
      }
      button::-moz-focus-inner {
        border: 0;
      }
      button:active {
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
        line-height: 3rem;
      }
      button:disabled {
        pointer-events: none;
        background: lightgray;
      }
      button:first-child {
        margin-left: 0;
      }
      button svg {
        transform: translateY(-0.05rem);
        fill: black;
        width: 1.4rem;
      }
      button:active svg {
        transform: translateY(0);
      }
      button:disabled svg {
        fill: #9a9a9a;
      }
      button text {
        fill: #00e5d2;
      }
      button:hover text, button:focus text {
        fill: #00ffe9;
      }
      button:disabled text {
        fill: lightgray;
      }
      #formats, #mode {
        margin-top: 0.5rem;
        font-size: 80%;
      }
      #mode {
        float: right;
      }
      #support {
        display: none;
        margin-top: 2rem;
        color: red;
        font-weight: bold;
      }
      #list {
        margin-top: 1.6rem;
      }
      audio {
        display: block;
        width: 100%;
        margin-top: 0.2rem;
      }
      li {
        list-style: none;
        margin-bottom: 1rem;
      }
  body
    main
      p.
        <a href="https://github.com/ai/audio-recorder-polyfill">Audio
        Recorder Polyfill</a> is a MediaRecorder polyfill to&nbsp;record audio
        in Edge and Safari. See <a href="https://ai.github.io/audio-recorder-polyfill/api">API</a>.
      #controls
        button( id="record" disabled autocomplete="off" title="Record" )
          svg( viewBox="0 0 100 100" )
            circle(cx="50" cy="50" r="46" )
        button( id="sec" disabled autocomplete="off" title="Record by 1 second" )
          svg( viewBox="0 0 100 100" )
            circle(cx="50" cy="50" r="46" )
            text( x="26" y="64" font-size="45" ) 1s
        button( id="pause" disabled autocomplete="off" title="Pause" )
          svg( viewBox="0 0 100 100" )
            rect( x="14" y="10" width="25" height="80" )
            rect( x="62" y="10" width="25" height="80" )
        button( id="resume" disabled autocomplete="off" title="Resume" )
          svg( viewBox="0 0 100 100" )
            polygon( points="10,10 90,50 10,90" )
        button( id="stop" autocomplete="off" disabled title="Stop" )
          svg( viewBox="0 0 100 100" )
            rect( x="12" y="12" width="76" height="76" )
        button( id="request" autocomplete="off" disabled title="Request data" )
          svg( viewBox="0 0 100 100" )
            polygon( points="10,10 90,10 50,90" )
      #mode.
        Native support, <a href="?polyfill">force polyfill</a>
      #formats
      #support.
        Your browser doesn’t support MediaRecorder
        or WebRTC to be able to polyfill MediaRecorder.
      ul#list
    script( src="./index.js" )
